:root{
    --main-blue:hsl(246, 80%, 60%);

    --headline-red: hsl(348, 100%, 68%);
    --headline-orange: hsl(15, 100%, 70%);
    --headline-teal: hsl(195, 74%, 62%);
    --headline-green:hsl(145, 58%, 55%);
    --headline-purple:hsl(264, 64%, 52%);
    --headline-yellow:hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Blue: #34397B;
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);

    --main-border-radius: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    color: var(--Desaturated-blue);
}

body{
    background-color: var(--Very-dark-blue);
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header"
        "work" 
        'play'
        'study'
        'exercise'
        'social'
        'self-care'
        'attribution';
    gap: 1.5rem;
    padding: 5%;
}
#header{
    grid-area: header;
}
#work{
    grid-area: work;
    background-color: var(--headline-orange);
    background-image: url(./images/icon-work.svg);
}
#play{
    grid-area: play;
    background-color: var(--headline-teal);
    background-image: url(./images/icon-play.svg);
}
#study{
    grid-area: study;
    background-color: var(--headline-red);
    background-image: url(./images/icon-study.svg);
}
#exercise{
    grid-area: exercise;
    background-color: var(--headline-green);
    background-image: url(./images/icon-exercise.svg);
}
#social{
    grid-area: social;
    background-color: var(--headline-purple);
    background-image: url(./images/icon-social.svg);
}
#self-care{
    grid-area: self-care;
    background-color: var(--headline-yellow);
    background-image: url(./images/icon-self-care.svg);
}
#attribution{
    grid-area:attribution;
}

/* HEADER CARD */
main{
    background-color: var(--Dark-blue);
    display: flex;
    width: 100%;
    height: 15rem;
    flex-direction: column;
    border-radius: var(--main-border-radius);
}

#user{
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: var(--main-blue);
    border-radius: var(--main-border-radius);
}
#userImg{
    min-width:5em;
    width: 15%;
}
#userImg img{
    width: 100%;
    border: 3px solid white;
    border-radius: 50%;
}
#userName *{
    color: var(--Pale-Blue);
    font-weight: 400;
}
#userName h1{
    font-size: 1.8rem;
    color: white;
    opacity: .8;
}
#timeButtonsArea{
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

#timeButtonsArea button{
    border: none;
    width: 90%;
    height: 90%;
    background-color: inherit;
    font-size: 1.2rem;
}
.button-active{
    color: white;
}
#timeButtonsArea button:hover{
   color: white;
   cursor: pointer;
}



/* ACTIVITIES CARDS */


.card{
    display: flex;
    flex-direction: column;
    background-position: 90% -3% ;
    background-repeat: no-repeat;
    height: 12rem;
    justify-content: flex-end;
    border-radius: var(--main-border-radius);
}
.card :hover{
    cursor: pointer;
    background-color: var(--Blue);
}

.card-grid{
    border-radius: var(--main-border-radius);
    width: 100%;
    height: 75%;
    background-color: var(--Dark-blue);
    display: grid;
    grid-template-areas: 
    'type options'
    'time last-time';
    padding: 5% 10%;
    gap: 0 1rem;
}


.card-grid p:first-of-type{
    color: white;
    place-self: center start;
    font-weight: 500;
    font-size: 1.4rem;
}
.card-grid a{
    place-self: center end;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--Pale-Blue);
    letter-spacing: .1rem;
}
.card-grid a:hover{
    color: white;
    opacity: 1;
}
.card-grid h2{
    color: white;
    opacity: 90%;
    place-self: center start;
    font-size: 2.5rem;
    font-weight: 300;
}
.card-grid p:last-of-type{
    place-self: center end;
    color: var(--Pale-Blue);
    font-weight: 400;
    font-size: 1.2rem;
}
.hidden{
    display: none;
}
@media screen and (min-width: 30em) {
    body{
        grid-template-areas:
        "header header"
        "work play" 
        'study exercise'
        'social self-care'
        'attribution attribution';
    }
}
@media screen and (min-width: 64em){
    body{
        grid-template-areas:
        'header work play study'
        'header exercise social self-care'
        'attribution attribution attribution attribution';
    }
}